
<style>
  hr { 
    display: block;
    margin-top: 0px;
    margin-left: auto;
    margin-right: auto;
    border-width: 5px;
    border-color: #39b2d8;
  } 
  </style>
<nav class="navbar navbar-expand-lg navbar-custom">
    <a class="navbar-brand" href="https://store.steampowered.com/"><img src="/static/logo.png" width="80" height="65" alt=""></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link navbar-brand" href="/">HOME <span class="sr-only">(current)</span></a>
        </li>

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle navbar-brand" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            ABOUT
          </a>
          <div class="dropdown-menu " aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="/about">STEAM</a>
            <a class="dropdown-item" href="/about2">MY PROJECT</a>
          </div>
        </li>

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle navbar-brand" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            GAME'S DATA
          </a>
          <div class="dropdown-menu " aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="/list_game">GAME LIST</a>
            <a class="dropdown-item" href="/best_game">TOP 25 GAMES</a>
            <a class="dropdown-item" href="/worst_game">TOP 25 WORST GAMES</a>
          </div>
        </li>

        <li class="nav-item">
          <a class="nav-link navbar-brand" href="/visualisasi_year">DATA VISUALIZATION</a>
        </li>

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle navbar-brand" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            MODELING
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="/model_nlp">Natural Language Processing</a>
            <a class="dropdown-item" href="/model_recommended">Content-Based Recommender System</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="/model_profil">Profil-Based Recommender System</a>
          </div>
        </li>

      </ul>
    </div>

  </nav>

  <hr>


