{% extends 'layout.html' %}

{% block body %}

  <body style="background-color: #1b2737;">
    <img src="/static/about.jpg" style="float: right; width: 40%; height: 40%; margin-top: 100px;margin-left: 50px;">
    <h1 style="color: white; font-size: 80px; margin: 100px; margin-bottom: 50px;">GAMING INDUSTRY PROBLEM</h1>
    <p style="color: white; margin: 70px; text-align:  justify;">As the years go by, the growth in the gaming industry is getting bigger. 
      The number of games developed and being developed is just way too much, it’s out of control. This gives users and the industry some difficulties. 
      It gives gamers a difficulty to choose which games they can play. 
      Instead of playing right away, gamers will have to search for a game from a variety of lists. 
      To find the perfect game, gamers have to spend a lot of time. 
      While for the game developers, it gives them difficulties as they might be developing games that users dislike and it could be really bad for them. 
      This is a large problem for gamers and their industry. 
      To overcome this problem, I’ve created two solutions:
      <br><br>
      The first one is a user-review detection in which, the feedback of a user will either be detected as positive or negative feedback. 
      I was able to create this by using Natural Language Processing (NLP). I’ve deployed a model to detect which feed is positive or negative.  
      This system will be a big help to the game developers as it will allow them to create better game ideas since they know the likes and dislikes of the users. 
      Click <a href="/about_recom" style="color:red">NLP MODEL</a> for more information about the model. 
      <br><br>
      The second solution is a Game Recommendation System in which, the system will suggest a user fifteen games based on their profile and games the play. 
      This will save the users time to find the perfect game, as all they have to do is try out what is mentioned in the list. 
      Click <a href="/about_recom" style="color:red">RECOMMENDATION MODEL</a> for more information about the model. 
    </p>


</body>

{% endblock body %}