{% extends 'layout.html' %}

{% block body %}

  <body style="background-color: #1b2737;">
    <img src="/static/about.jpg" style="float: right; width: 40%; height: 40%; margin-top: 100px;margin-left: 50px;">
    <h1 style="color: white; font-size: 100px; margin: 100px;">WHAT IS STEAM?</h1>
    <p style="color: white; margin: 70px; text-align:  justify;">Steam is a video game digital distribution service by Valve. It was launched as a standalone software client in September 2003 as a way 
      for Valve to provide automatic updates for their games, and expanded to include games from third-party publishers. Steam has also expanded 
      into an online web-based and mobile digital storefront. Steam offers digital rights management (DRM), matchmaking servers, video streaming, 
      and social networking services. It also provides the user with installation and automatic updating of games, and community features such as 
      friends lists and groups, cloud saving, and in-game voice and chat functionality.</p>

    <p style="color: white; margin: 70px; text-align:justify;">The software provides a freely available application programming interface (API) called 
      Steamworks, which developers can use to integrate many of Steam's functions into their products, including matchmaking, in-game achievements, 
      microtransactions, and support for user-created content through Steam Workshop. Though initially developed for use on Microsoft Windows operating 
      systems, versions for macOS and Linux were later released. Mobile apps were also released for iOS, Android, and Windows Phone in the 2010s. 
      The platform also offers a small selection of other content, including design software, hardware, game soundtracks, anime, and films.
      The Steam platform is the largest digital distribution platform for PC gaming, holding around 75% of the market space in 2013.[4] By 2017, 
      users purchasing games through Steam totaled roughly US$4.3 billion, representing at least 18% of global PC game sales.[5] By 2019, 
      the service had over 34,000 games with over 95 million monthly active users. The success of Steam has led to the development of a line of 
      Steam Machine microconsoles, which include the SteamOS operating system and Steam Controllers..</p>

</body>

{% endblock body %}