{% extends 'layout.html' %}
{% block body %}

<body style="background-image: url('/static/navybluegradient.png'); background-size: 100%; ">
 
    <center>
        <h1 style="color:white">"{{game}}" is a great choice.</h1>
        <h3 style="color:white; margin-bottom: 50px;">Here are some more like this</h3>
    </center>
    <div style="margin-right:75px; margin-left: 75px;">
        <table class="table" style="width:100%;table-layout:fixed" >
            <thead style="background-color: #171a21;">
                <tr>
                    {% for item in test.columns %}
                        <th style="color:white;">{{item}}</th>
                    {% endfor %}
                </tr>
            </thead>
            <tbody style="background-image:url('/static/tablecolors.jpg'); background-size: 100%;">
                {% for index, item in test.iterrows() %}
                    <tr>
                        {%for col in item %}
                            <td style="color: white;">{{col}}</td>
                        {% endfor %}
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</body>
{% endblock %}
