{% extends 'layout.html'%}

{% block body %}
<body style="background-image: url('/static/navybluegradient.png'); background-size: 100%; ">
    <center>
        <p style="color: white; font-size:60px; margin-top: 50px; margin-bottom: 0px;">REQUIRE AGE FEATURE VISUALIZATION</p>
            <div >
                <div class="chart mt-0" id="visualisasi_requiere_age">
                </div>
            </div>
       
       
        <script>
            var visualisasi_requiere_age = {{data | safe}}
            Plotly.plot('visualisasi_requiere_age',visualisasi_requiere_age,{})   
        </script>
    </center>
        <br>
    
    <nav aria-label="...">
        <ul class="pagination justify-content-center">

        <li class="page-item"><a class="page-link text-dark" href="/visualisasi_platform">Previous</a></li>
        
        <li class="page-item"><a class="page-link text-dark" href="/visualisasi_publisher">4</a></li>

        <li class="page-item"><a class="page-link text-dark" href="/visualisasi_platform">5</a></li>

        <li class="page-item active">
            <span class="page-link bg-dark text-white " style="border: gray;" >6<span class="sr-only">(current)</span>
            </span>
        </li>

        <li class="page-item">
            <a class="page-link text-dark" href="/visualisasi_category">Next</a>
        </li>
        </ul>
    </nav>
</body>

{% endblock body %}